{% extends 'base.html' %}
<!-- 'load' must be under 'extends'-->
{% block content %}
    <div class="container my-3">
        <div class="container my-3">
            <h2 class="border-bottom my-3 py-4">Sequence Alignment</h2>
        </div>
        <div class="container my-3">
            <p class="border-bottom my-3 py-4">Sequence Alignment</p>
        </div>
        <div class="container my-3">
            <h2 class="border-bottom my-4 py-4">Sequence</h2>
            <form method="post" action="{% url 'SA:input' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- error Start -->
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for field in form %}
                            {% if field.errors %}
                                <div>
                                    <strong>{{ field.label }}</strong>
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                <!-- End -->
                <div class="card my-3">
                    <div class="card-body">
                        <label>Sequence 1<input type="text" class="form-control" name="S_1" placeholder="Sequence 1"></label><br>
                        <label>Sequence 2<input type="text" class="form-control" name="S_2" placeholder="Sequence 2"></label>
                    </div>
                </div>
                <input type="hidden" name="form_type" value="double">
                <input type="submit" class="btn btn-primary">
            </form>
            <h2 class="border-bottom my-4 py-4">Multiple Sequence Alignment</h2>
            <form method="post" action="{% url 'SA:input' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- error Start -->
                {% if multi_form.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for field in multi_form %}
                            {% if field.errors %}
                                <div>
                                    <strong>{{ field.label }}</strong>
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                <!-- End -->
                <div class="card my-3">
                    <div class="card-body">
                        <label>Sequence File (FASTA)<input type="file" class="form-control" name="fasta_file"></label>
                    </div>
                </div>
                <input type="hidden" name="form_type" value="multi">
                <input type="submit" class="btn btn-primary">
            </form>
        </div>
    </div>
{% endblock %}